body{
    font-family: sans-serif;
    color: grey;
}
#t1{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t2{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t3{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t4{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t5{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t6{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t7{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
    width: 260px;
    padding: 5px;
}
#t8{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t9{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
#t10{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}