body{
    font-family: sans-serif;
    color: grey;
}
tr{
    border: 3px;
    border-color: black;
    width: 260px;
    padding: 5px;
}
.highlight{
    color: black;
    border: 3px;
    font-family: serif;
    width: 260px;
    padding: 5px;
}
.none{
    display: none;
}
.inputs{
    border-width: 3px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
}
#submit{
    border-width: 1px;
    border-color: grey;
    background-color: white;
}