body{
    background-color: grey;
    display: flex;
    align-content: center;
    justify-content: center;
    height: max-content;
}
.form{
    width: 500px;
    box-shadow: -5px -5px 55px 14px rgba(34, 60, 80, 0.66);
    border-radius: 2%;
}
.head{
    background-color: rgb(37, 45, 190);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 500px;
}
.regF{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.container{
    box-shadow: -5px -5px 55px 14px rgba(36, 102, 153, 0.66);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    background-color: white;
}
.block{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: sans-serif;
    border: 3px;
    border-color: rgb(189, 189, 189);

}
.block2{
    grid-column: 1/3;
}
select{
    height: 40px;
}
input{
    height: 40px;
}
.GetSt{
    background-color: rgb(0, 123, 255);
    color: white;
    border: 0px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.error{
    color: red;
    border-color: red;
}